<html>
<head>
  <style>
  body *{
    font-family: 'Oswald', sans-serif;
  }
  .dropdown-submenu {
  position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
  display:block;
  }
  .dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#595959;
  margin-top:5px;
  margin-right:-10px;
  }
  .dropdown-submenu:hover>a:after {
  border-left-color:#595959;
  }
  .dropdown-submenu.pull-left {
  float:none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
  }

  .silde-viewer {
  text-align: center;
  }

  .social-links {
    background: none;
  }

  </style>
  <title>3D Printing</title>
  <link rel='shortcut icon' href='logo.ico' type='image/x-icon'/ >
  <link href="custom_bootstrap.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href="imageslider.css" rel="stylesheet" type="text/css">
</head>
<body background="space.jpeg">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmming <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <li class="menu-item dropdown dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java Projects</a>
                  <ul class="dropdown-menu">
                      <li class="menu-item">
                          <a href="calc.html">Calculator</a>
                      </li>
                      <li class="menu-item">
                        <a href="m8ball.html">Magic 8 Ball</a>
                      </li>
                      <li class="menu-item">
                        <a href="connect4.html">Connect 4</a>
                      </li>
                    </ul>
                </li>
                <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python Projects</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item">
                            <a href="pypro.html">Processing</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyturtle">Turtle()</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyraw">Raw Input</a>
                        </li>
                      </ul>
                  </li>
            <li><a href="minecraft.html">Minecraft Mods</a></li>
            <li><a href="scratch.html">Scratch Projects</a></li>
            <li><a href="accordion.html">HTML Accordion</a></li>
            <li><a href="to-do-list.html">To Do List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circuits and Hardware <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Decimal to Binary Converter</a></li>
            <li><a href="java.html">Mechanical Macro Keyboard</a></li>
            <li><a href="ledDice.html">Electronic LED Dice</a></li>
            <li><a href="minecraft.html">LED Cube</a></li>
      </ul>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CAD and 3D Modeling <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="rocket.html">Rocket</a></li>
        <li><a href="stickfigure.html">Stick Figure</a></li>
        <li><a href="dicecase.html">LED Dice Case</a></li>
  </ul>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="3dprinter.html">3D Printing</a></li>
    <li><a href="firebase.html">Realtime Chat</a></li>
    <li><a href="contact.html">Contact Me</a></li>
    <li><a href="http://youtube.com/channel/UCYwPB7-T5Er_QnmjPBbpQRQ">My YouTube Channel</a></li>
    <li><a href="electron.html">My Computer Setup</a></li>
    <li><a href="about.html">About Me</a></li>
</ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<span style="color:red">
  <h1 style="text-align: center;">
   PowerSpec Ultra 3D Printer
   </h1>
   <<span style = "color: red" "align: center">
 <h1>
   3D Printing
 </h1>
 <p>
   3-D printing is a manufacturing process that builds layers to create a three-dimensional solid object from a digital model.
   To print a 3-D object, the manufacturer uses a 3-D computer-aided design (CAD) program to create a digital model that gets sliced into very thin cross-sections called layers. During the print process, the 3-D printer starts at the bottom of the design and builds up successive layers of material until the object is finished.
 </p>
 <!--http://whatis.techtarget.com/definition/3-D-printing-rapid-prototyping-stereolighography-or-architectural-modeling-->
 <h2>
   My 3D Printer
 </h2>
 <p>
   My 3D Printer is a PowerSpec Ultra. It is a dual extruder FDM 3D Printer. Having Dual Extruders means that two spools of filament can be loaded and heated at once.
 </p>
 <p>
   In one print, you can have one model printed in one color, and another model in another color. It is not faster than a single extruder printer because it does not extrude filament on both extruders at once.
 </p>
 <p>
   FDM stands for Fused Deposition Modeling. What that basically means is that the printer lays down thin layers of plastic on the build plate, and as it is making the next layer, thet cool. They are stacking on top of each other.
 </p>
 <p>
   Think of it like cutting a shape out of a piece of paper, cutting away the excess, and then gluing the many layers together.
 </p>
 </span>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
   <html>
