
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The 51st Shade of Grey</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CodeCache</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="clue1.html">Clue 1</a>
                    </li>
                    <li>
                        <a href="clue2.html">Clue 2</a>
                    </li>
                    <li>
                        <a href="clue3.html">Clue 3</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->

    <!-- Page Content -->
    <div class="container">

        <hr>


        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <h2>About CodeCache</h2>
                <p>CodeCache is a programming competition based on Geo-Caching requiring students to demonstrate their knowledge in various coding languages in order to create clues to a final destination location where prize materials will be located. Students are encouraged to use their own websites, Scratch programs, python programs, social media resources, and other computing resources in devising their clues. Teams will be constructed to collaborate on the creation of projects, and final results will be judged based on 1) fun value, 2) logic, and 3) successful completion of clues.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Summer 2016</strong>
                    <br>Kid OYO
                    <br>Stony Brook University Computer Science
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(631) 620-8219
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">benstechgarage@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <a href="clue1.html"><img class="img-circle img-responsive img-center" src="https://d3mo08i005h0zn.cloudfront.net/blog/wp-content/uploads/2013/06/April-Press-Pic-standard-geocache-1024x682.jpg
" alt=""></a>
                <h2></h2>
            </div>
            <div class="col-sm-4">
                <a href="clue2.html"><img class="img-circle img-responsive img-center" src = https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg></a>

                <h2></h2>

            </div>
            <div class="col-sm-4">
                <a href = "clue3.html"><img class="img-circle img-responsive img-center" src= "https://cdn.playbuzz.com/cdn/7c2fe827-0a38-4c37-8831-3bcd3560d4ab/d567d53d-c1e2-4bec-b612-6aaac4441d59.jpg" alt="Ben's Binary"></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The 51st Shade of Grey 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
