
<h1>Connect 4 Game</h1>
<h2>About The Game</h2>
<p>This game was made in Java 8.0 in the Eclipse IDE Version Mars</p>
<h2>"Class Variables"</center>
<br>
<img src = "ConnectFour/classvariables.png">
<br>
<h2>"PlaceChip Method"</h2>
<br>
<img src = "ConnectFour/placechip.png">
<br>
<h2>"isSolution Method"</h2>
<br>
<img src = "ConnectFour/isSolution.png">
<br>
<h2>CreateEventHandler Method</h2>
<br>
<img src = "ConnectFour/createEventHandler.png">
<br>
<h2>buildGame Method</h2>
<br>
<img src = "ConnectFour/buildGame.png">
<br>
<h2>Class Variables</h2>
<br>
<img src = "ConnectFour/classvariables.png">
<br>
<h2>BlankBoard</h2>
<br>
<img src = "ConnectFour/blankboard.png">
<br>
<h2>The Game Running</h2>
<img src = "ConnectFour/Game.png">
<br>
<h2>Player Won Alert<h2>
<img src = "ConnectFour/PlayerWon.png">
