<html>
<head>
  <style>
  body *{
    font-family: 'Oswald', sans-serif;
  }
  .dropdown-submenu {
  position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
  display:block;
  }
  .dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#595959;
  margin-top:5px;
  margin-right:-10px;
  }
  .dropdown-submenu:hover>a:after {
  border-left-color:#595959;
  }
  .dropdown-submenu.pull-left {
  float:none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
  }

  .silde-viewer {
  text-align: center;
  }

  .social-links {
    background: none;
  }

  </style>
  <title>Contact Me</title>
  <link rel='shortcut icon' href='logo.ico' type='image/x-icon'/ >
  <link href="custom_bootstrap.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href="imageslider.css" rel="stylesheet" type="text/css">
</head>
<body background="space.jpeg">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmming <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <li class="menu-item dropdown dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java Projects</a>
                  <ul class="dropdown-menu">
                      <li class="menu-item">
                          <a href="calc.html">Calculator</a>
                      </li>
                      <li class="menu-item">
                        <a href="m8ball.html">Magic 8 Ball</a>
                      </li>
                      <li class="menu-item">
                        <a href="connect4.html">Connect 4</a>
                      </li>
                    </ul>
                </li>
                <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python Projects</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item">
                            <a href="pypro.html">Processing</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyturtle">Turtle()</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyraw">Raw Input</a>
                        </li>
                      </ul>
                  </li>
            <li><a href="minecraft.html">Minecraft Mods</a></li>
            <li><a href="scratch.html">Scratch Projects</a></li>
            <li><a href="accordion.html">HTML Accordion</a></li>
            <li><a href="to-do-list.html">To Do List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circuits and Hardware <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Decimal to Binary Converter</a></li>
            <li><a href="java.html">Mechanical Macro Keyboard</a></li>
            <li><a href="ledDice.html">Electronic LED Dice</a></li>
            <li><a href="minecraft.html">LED Cube</a></li>
      </ul>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CAD and 3D Modeling <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="rocket.html">Rocket</a></li>
        <li><a href="stickfigure.html">Stick Figure</a></li>
        <li><a href="dicecase.html">LED Dice Case</a></li>
  </ul>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="3dprinter.html">3D Printing</a></li>
    <li><a href="firebase.html">Realtime Chat</a></li>
    <li><a href="contact.html">Contact Me</a></li>
    <li><a href="http://youtube.com/channel/UCYwPB7-T5Er_QnmjPBbpQRQ">My YouTube Channel</a></li>
    <li><a href="electron.html">My Computer Setup</a></li>
    <li><a href="about.html">About Me</a></li>
</ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<span style="color:red">
  <h1 style="text-align: center;">
   Contact Me
   </h1>
   <p>
     You can contact me through many social media networks.
   </p>
   <p>
     Here are the links!
   </p>
   <p>
     <a href= "https://www.youtube.com/channel/UCYwPB7-T5Er_QnmjPBbpQRQ"><img src = "https://s-media-cache-ak0.pinimg.com/favicons/c4cd5be60ed3cec6eba5996d23c2004430440b36f88d692ad855868a.png?f0d1a7e249d08bf45b786b9052999a46"></a>
     <a href= "https://www.facebook.com/ben.piecora"><img src = http://findicons.com/files/icons/2052/social_network/32/facebook.png></a>
      <a href= "http://www.twitter.com/benster67"><img src = "http://iconshow.me/media/images/logo/brand-logo-icon/png/32/twitter-32.png"></a>
      <a href= "https://plus.google.com/106764633911261647206/videos"><img src=http://admins.googleapps.com/_/rsrc/1442442974521/Home/user-resources/google-icons-and-logos/logo_google_plus_32px.png></a>
      <a href= "https://www.instagram.com/bens_tech_garage/?hl=en"><img src = "http://hoganchua.hudbhi7gzmvkzpctzr6hwgk2lbnfnkerebgcjs6k8yq.netdna-cdn.com/wp-content/uploads/2016/05/Instagram2016_col-32px.png"></a>
      <a href= "mailto:benstechgarage@gmail.com"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAVFBMVEX///9kZGSysrLr6+u4uLhqamp7e3vk5ORwcHD39/d+fn6KioqSkpLn5+fw8PDCwsKcnJzW1tbLy8vR0dGEhIRtbW2/v7+pqamjo6OWlpbe3t6mpqYtNKccAAABM0lEQVQ4jYWT2ZaDIBBEm8VmR1DcMv//n6MB12hST0BfqpoDAJzlHHxVXVX1l7IKZFZQT3WhyVtaPNmTotuYbL/qMybbV5byP7yLyfaJRTr0nn7EFHv0Vk5JG2cvMQJzcDNo3wrFbZvnKC7dqy42JMGE7niavXvJOpiIAbTxeBrcTi+9nIHed2LagAqBRLPOWIqsUYrxrW4iAcKAF5PxJYPFoE3pquLA3gC4YsI9D3ZsfJ6a+eYLAKsJ0qatx65shwMALpGTUn44O7CZkH37BQCxmHSLf9pu6gQAUKIZ02TYV86A08v9qKDdPdDIPg962dwBA77W5RcOH4A31u/R3hp/BqKkcBKV8Qhw2cJFreQboKbErvW5liaVAYHj7V9SI4oFoPLxN9aSzgAJ/FHzcwT6Q/+Epw1rPXP9YgAAAABJRU5ErkJggg=="></a>

    </p>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
   <html>
