<!doctype html>
<html>
<head>
  <title>Image Slider</title>
  <link rel ="stylesheet" type="text/css" href="imageslider.css"/>
</head>
<body>
  <h1>Image Slider with YouTube Videos: BETA</h1>
  <div class="slider">
    <div class="slide-viewer">
      <div class="slide-group">
        <div class="slide slide-1">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/iQzk9F5R-GQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="slide slide-2">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/fh7Ql4lt2b4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="slide slide-3">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/ocA74hLiVvQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="slide slide-4">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/qAenxf4SRFE" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="slide-buttons" position: "center"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src = "imageslider.js"></script>
</body>
