<html>
<head>
  <title>Nav Test</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmming <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Java Projects</a></li>
            <li><a href="#">Python Projects</a></li>
            <li><a href="#">Minecraft Mods</a></li>
            <li><a href="#">Scratch Projects</a></li>
            <li><a href="#">HTML Accordion</a></li>
            <li><a href="#">To Do List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circuits and Hardware <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Decimal to Binary Converter</a></li>
            <li><a href="java.html">Mechanical Macro Keyboard</a></li>
            <li><a href="ledDice.html">Electronic LED Dice</a></li>
            <li><a href="minecraft.html">LED Cube</a></li>
      </ul>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CAD and 3D Modeling <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="rocket.html">Rocket</a></li>
        <li><a href="stickfigure.html">Stick Figure</a></li>
        <li><a href="dicecase.html">LED Dice Case</a></li>
  </ul>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="3dprinter.html">3D Printing</a></li>
    <li><a href="firebase.html">Realtime Chat</a></li>
    <li><a href="contact.html">Contact Me</a></li>
    <li><a href="http://youtube.com/channel/UCYwPB7-T5Er_QnmjPBbpQRQ">My YouTube Channel</a></li>
    <li><a href="electron.html">My Computer Setup</a></li>
    <li><a href="about.html">About Me</a></li>
</ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
<html>
