<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmming <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <li class="menu-item dropdown dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java Projects</a>
                  <ul class="dropdown-menu">
                      <li class="menu-item">
                          <a href="calc.html">Calculator</a>
                      </li>
                      <li class="menu-item">
                        <a href="m8ball.html">Magic 8 Ball</a>
                      </li>
                      <li class="menu-item">
                        <a href="connect4.html">Connect 4</a>
                      </li>
                    </ul>
                </li>
                <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python Projects</a>
                    <ul class="dropdown-menu">
                        <li class="menu-item">
                            <a href="pypro.html">Processing</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyturtle.html">Turtle()</a>
                        </li>
                        <li class="menu-item">
                          <a href="pyraw.html">Raw Input</a>
                        </li>
                      </ul>
                  </li>
            <li><a href="minecraft.html">Minecraft Mods</a></li>
            <li><a href="scratch.html">Scratch Projects</a></li>
            <li><a href="accordion.html">HTML Accordion</a></li>
            <li><a href="to-do-list.html">To Do List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circuits and Hardware <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="dtob.html">Decimal to Binary Converter</a></li>
            <li><a href="ledDice.html">Electronic LED Dice</a></li>
            <li><a href="minecraft.html">LED Cube</a></li>
      </ul>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CAD and 3D Modeling <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="rocket.html">Rocket</a></li>
        <li><a href="stickfigure.html">Stick Figure</a></li>
        <li><a href="dicecase.html">LED Dice Case</a></li>
  </ul>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="3dprinter.html">3D Printing</a></li>
    <li><a href="firebase.html">Realtime Chat</a></li>
    <li><a href="contact.html">Contact Me</a></li>
    <li><a href="http://youtube.com/channel/UCYwPB7-T5Er_QnmjPBbpQRQ">My YouTube Channel</a></li>
    <li><a href="https://github.com/benster67">My GitHub Page</a></li>
    <li><a href="electron.html">My Computer Setup</a></li>
    <li><a href="about.html">About Me</a></li>
</ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
{% block body %}
{% endblock %}
