<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Grey Matter</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    .team_img {
      width: 300px;
      height: 300px;
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Team Grey Matter</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://benstechgarage.com">Ben's Website</a>
                    </li>
                    <li>
                        <a href="http://calmkai.com">Zach's Website</a>
                    </li>
                    <li>
                        <a href="http://lordwhitebear.oyosite.com">Zhen's Website</a>
                    </li>
                    <li>
                      <a href="http://lokhun.oyosite.com">Tyler's Website</a>
                    </li>
                    <li>
                      <a href="http://lokhun.oyosite.com/codecache.html">CodeCache Page</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Team Grey Matter</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>About Our Team</h2>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">benstechgarage@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <img class="img-circle img-responsive img-center team_img" src="http://img.wallpaperfolder.com/f/486EFE14CA7F/circuit-board-computer-16959-numbers-letters.jpg" alt="">
                <h2>Ben</h2>
                <p>My name is Ben and I am 14 years old. I have a YouTube channel called Ben’s Tech Garage. I like to code in many different languages. I also like to make projects with Hardware. Some people call me The Monitor Man because in my computer setup I have 9 monitors.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center team_img" src="http://calmkai.oyo.ink/jazz2016/img/zachary.jpg" alt="">
                <h2>Zach</h2>
                <p>I am Zachary. I am 12 years old. I am a coder, gamer and an ios jailbreaker. I like to code in HTML, CSS, Java, JavaScript, Lua, and Python. In my spare time I like to play Minecraft, swim competitively, play the flute, guitar, and piano. I am Homeschooled. I also like to go to KidOYO programs like the MakerDojo.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <img class="img-circle img-responsive img-center team_img" src="http://calmkai.oyo.ink/jazz2016/img/zhen.jpg" alt="">
                <h2>Zhen</h2>
                <p>My name is Zhen I am 11 years old, My favorite language is Python, Ive been coding since I was six and have loved it since. Thanks to my parents and the kidOYO mentors to get me to my skills today.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center team_img" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Newcastle_United_Logo.svg/1017px-Newcastle_United_Logo.svg.png" alt="">
                <h2>Tyler</h2>
                <p>Hello my name is Tyler and I am 13 years old. I enjoy to play soccer. I began coding last year and just learned HTML on 7/27/16. My favorite language is Python. I would like to thank my parents and my mentors.I go to school in CT.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Grey Matter 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

</body>

</html>
