<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Test...</title>
  </head>
  <body background="background.png">
    <a class="twitter-timeline"
  href="https://twitter.com/benster67"
  data-width="500"
  data-height="900">
Tweets by Ben's Tech Garage
</a>

    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>
